<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
    <listener>
        <listener-class>com.abbink.sws2.webapp.Sws2ServletContextListener</listener-class>
    </listener>
    <!--<context-param>-->
        <!-- you can specify your config file here (2nd priority; after system property) -->
        <!--<param-name>sws2ConfigFile</param-name>-->
        <!--<param-value>/some/path/to/your/config.yml</param-value>-->
    <!--</context-param>-->
    <servlet>
        <servlet-name>JerseyServletContainer</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.abbink.sws2.webapp.jersey.JerseyApplication</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>JerseyServletContainer</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
